<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ALL BALANCE SYS</title>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="autorisation.css" th:rel="stylesheet" th:href="autorisation.css">
</head>
<body>
<header id="header" class="header">
    <div class="container1">
        <!-- ================NAVBAR======================== -->
        <ul class="menu">
            <li><a class="active" th:href="@{/}">HOME</a></li>
            <li><a class="settings" th:href="@{/login}">LOGIN</a>
            <li><a class="settings" th:href="@{/registration}">REGISTRATION</a>
        </ul>
    </div>
</header>
<!-- ================MAIN======================== -->
<section id="index" class="index">

    <div class="products">
        <h1>Asset Unified System</h1>

    </div>
    <div class="user-info">
        <section class="left-info">
            <h4 class="user-name-info"> Hello! The system is being tested.
                <p>You cannot register. Login only.</p>
            </h4>

        </section>
    </div>
</section>

<footer id="index-footer" class="index-footer">

</footer>
</body>
</html>