<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="autorisation.css">
</head>
<body>
<header id="header" class="header">
    <div class="container1">
        <!-- ================NAVBAR======================== -->
        <ul class="menu">
            <li><a class="active" th:href="@{/}">HOME</a></li>
            <li><a class="settings" th:href="@{/login}">LOGIN</a>
            <li><a class="settings" th:href="@{/registration}">REGISTRATION</a>
        </ul>
    </div>
</header>
<!-- ================MAIN======================== -->
<section id="section-login" class="section-login">

    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:method="POST" th:action="@{/do-login}">

        <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" name="email" id="email">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password" id="password">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <button type="submit" class="registration-btn">Login</button>
        </div>
        <!--        <button type="submit" class="registration-btn">Google</button>-->
        <!--        <button type="submit" class="registration-btn">GetHub</button>-->
        <div>

        </div>
    </form>
</section>
<footer>

</footer>
</body>
</html>